<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Party!</title>

  <link href="<%= url('/styles/styler.css') %>" rel="stylesheet" type="text/css" />

  <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">


</head>
<body>

  <h1>We are Having a Party!</h1>

  <hr style="margin-inline-start: 0;width: 150px;">
  
  <h2>--Guest List--</h2>

  <hr style="margin-inline-start: 0;width: 500px;">
  <br>
  <p>Don't be lame, sign up and Join Us!</p>
  <br>
  <strong>We are <%= @guests.size %> of us! </strong>
  <br>

  <% if @guests.empty? %><p> Be the first to sign up! </p>
  <img src="https://i.giphy.com/media/Y2iqFF4t0Qdzi/giphy.webp" alt="sulking">
  <% end %>

  <% if @guests.size > 9 %><p> Sorry, we only have enough space for <%= @guests.size %> registrants, sign-ups are closed! :(</p>
  <img src="\sardines.jpg" alt="sardines" style="max-width: 70%; border-radius: 50%;">
  <% end %>

  <br>

  <% if @guests.size > 0 %>
    <table class="party-guests" id="ppl">
      <thead>
        <tr>
          <th>
            Name
          </th>
          <th>
            Friends
          </th>
          <th>
            Arrive
          </th>
          <th>
            Website
          </th>
        </tr>
      </thead>
      <tbody>
        <% @guests.each do |row| %>
        <tr>
          <td>
          <%= row.name %> 
          </td>
          <td class="friend">
          <%= row.number_of_friends %>
          </td>
          <td class="friend">
          <%= row.time_of_arrival %>
          </td>
          <td><a href="<%= row.social %>"><%= row.social %></a>
          
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <br>

  <% if @guests.size > 9 %>
    <div>
      <img src="\party-hard.gif" alt="party fun" style="width:50%;height:50%;">
    </div>
  <% end %>

  <br>

  <% if @guests.size < 10 %>
    <h2>Sign up for the party!</h2>

    <form action="/party/guests" method="POST">
      <p>
        <label>Name:
          <input type="text" name="guest_name" placeholder="Jane Eyre" />
        </label>
      </p>

      <p>
        <label>Number of friends:
          <input type="text" name="guest_number_of_friends" placeholder="1, 2, 3" />
        </label>
      </p>

      <p>
        <label>Time of arrival:
          <input type="text" name="guest_time_of_arrival" placeholder="20:00" />
        </label>
      </p>

      <p>
        <label>Social Link:
          <input type="url" name="social" placeholder="www.doodledoo.woo" />
        </label>
      </p>

      <p>
        <input type="submit" name="submit" value="Sign up!" />
      </p>
    </form>
  <% end %>

  <hr style="margin-inline-start: 0;width: 500px;">
  <br>

</body>
</html>
